*{
    font-family: "Myriad Pro" , sans-serif;
}
/*header*/
.header{
    height:1000px;
    background-image: url("../images/anhbia1_01.jpg");
    background-position: top center; /*căn giữa cho ảnh nền*/
    background-repeat: no-repeat;
}
/*start header-top*/
.header-top .logo{
    cursor: pointer;
}
.header-top .logo a{
    text-decoration: none;
}
.header-top .logo p{
    color:#fff;
    font-size: 32px;
    margin-top: 20px;
}
.header-top .logo p span{
    color:#00c566;
    font-family: "Times New Roman", sans-serif;
    font-size: 35px;
}
.header-top{
    height: 200px;
}
.header-top .nav{}
.header-top .nav ul{}
.header-top .nav ul li{
    list-style: none;
    display: inline-table;
    padding: 10px;
}
.header-top .nav ul a{
    text-decoration: none;
    color:#fff;
}
.header-top .nav ul li a:hover{
    color: #00c566;
}

/*end header-top*/

/*start header-content*/
.header-content{}
.header-content .hc-left .hc-ke{
    width: 40px;
    height: 3px;
    background-color: #00c566;
}
.header-content .hc-left .we-design {
    font-size: 45px;
    max-width: 500px;
    color: #fff;
}
.header-content .we-design h3{
    margin-bottom: 25px;
}
.header-content .hc-left .we-beli{
    font-size: 18px;
    color:#c3c3c3;
    margin-bottom: 40px;
}
.header-content .hc-left .we-beli p{
    font-family: "Adobe Garamond Pro",sans-serif;
}
.header-content .hc-left input[name="button"]{
    border: none;
    width: 200px;
    font-family:Poppins;
    font-size: medium;
    height: 50px;
    border-radius: 32px;
    color: #fff;
    background-color: #00c566;
    outline: none;
}
.header-content input[name="button"]:hover{
    background-color: white;
    color: #000;
    cursor: pointer;
}
.header-content .hc-right{
    margin-top: 100px;
}
.header-content .hc-right .dota,.dotb,.dotc{
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
    margin: 5px;
    transition: background-color 0.6s ease;
}
.header-content .hc-right .dota:hover,.dotb:hover,.dotc:hover{
    background-color: #fff;
}
.header-content .hc-right .active{
    background-color: #fff;
}
/*end header-content*/

/*start content1*/
.content1{
    height: 600px;
    background-image: url("../images/bc-c2_02.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto;
}
.content1 .c1-left{
    position: relative;
}
.content1 .c1-left img[name="nguoingoi"]{
    margin-top: 90px;
}
.content1 .c1-left img[name="nuanhat"]{
    position: absolute;
    right: -40px;
    top: 65px;
}
.content1 .c1-right{
    margin-left: 100px;
}
.content1 .c1-right .c1r-tieude h3{
    font-size: 36px;
    max-width: 300px;
    margin-top:130px;
}
.content1 .c1-right .c1r-wab p{
    font-size: 18px;
    color: #02d871;
}
.content1 .c1-right .c1r-giaithich p{
    font-size: 16px;
    color:#222222;
    margin-top: 30px;
    font-family: "Adobe Garamond Pro",sans-serif;
    max-width: 450px;
}
.content1 .c1-right .c1r-button input[name="button"]{
    border: none;
    font-family:Poppins;
    font-size: medium;
    width: 200px;
    height: 50px;
    border-radius: 32px;
    color: #fff;
    background-color: #00c566;
    outline: none;
    margin-top: 20px;
}
.content1 .c1-right .c1r-button input[name="button"]:hover{
    background-color: white;
    color: #000;
    cursor: pointer;
}
/*end content1*/

/*start content2*/
.content2{
    height: 500px;
    text-align: center;
    background-image: url("../images/bc-3_02.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto;
}
.content2 .col-4{
    margin-top: 100px;
}
.content2 .icon{}
.content2 .icon a i{
    font-size: 35px;
}
.content2 .tieude{
    font-family:"Poppins SemiBold";
    margin-top: 30px;
}
.content2 .tieude h6{
    font-size: 18px;
}
.content2 .icon a i{
    color:#00c566;
}
.content2 .duongke{
    width: 40px;
    height: 3px;
    background-color: #00c566;
    margin: 0 auto;
    margin-top: 20px;
}
.content2 .gioithieu{
    font-size: 15px;
    font-family: Raleway;
    max-width: 220px;
    margin:0 auto;
    margin-top: 40px;

}
.content2 .gioithieu p{
    color: #a2a2a2;
}
.content2 .c2-1,.c2-2,.c2-3{
    padding: 25px;
}
/*.content2 .c2-2{*/
    /*background-color: #02d871;*/
    /*border-radius: 5px;*/
    /*box-shadow: 3px 3px 3px #bbb;*/
/*}*/
/*.content2 .c2-2 .icon a i{*/
    /*color: #fff;*/
/*}*/
/*.content2 .c2-2 .tieude h6{*/
    /*color: white;*/
/*}*/
/*.content2 .c2-2 .duongke{*/
    /*background-color: #fff;*/
/*}*/
/*.content2 .c2-2 .gioithieu p{*/
    /*color: white;*/
/*}*/

/*start hover*/
.content2 .c2-1:hover{
    cursor: pointer;
    background-color: #02d871;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #bbb;
}
.content2 .c2-1:hover .icon a i{
    color:#fff;
}
.content2 .c2-1:hover .tieude h6{
    color:#fff;
}
.content2 .c2-1:hover .gioithieu p{
    color: #fff;
}
.content2 .c2-1:hover .duongke{
    background-color: #fff;
}
/*...*/
.content2 .c2-2:hover{
    cursor: pointer;
    background-color: #02d871;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #bbb;
}
.content2 .c2-2:hover .icon a i{
    color:#fff;
}
.content2 .c2-2:hover .tieude h6{
    color:#fff;
}
.content2 .c2-2:hover .gioithieu p{
    color: #fff;
}
.content2 .c2-2:hover .duongke{
    background-color: #fff;
}
/*...*/
.content2 .c2-3:hover{
    cursor: pointer;
    background-color: #02d871;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #bbb;
}
.content2 .c2-3:hover .icon a i{
    color:#fff;
}
.content2 .c2-3:hover .tieude h6{
    color:#fff;
}
.content2 .c2-3:hover .gioithieu p{
    color: #fff;
}
.content2 .c2-3:hover .duongke{
    background-color: #fff;
}
/*end hover*/
/*end content2*/

/*start content3*/
.content3{
    height: 1000px;
    background-size: 100%;
    text-align: center;
    background-color: #fafafa;
}
.content3 .c3-our-code{
    padding-top: 100px;
}
.content3 .c3-our-code h6{
    font-family:"Poppins SemiBold";
    font-weight: bold;
    font-size: 24px;
    color:#bdbdbd;
    margin: 0;
}
.content3 .c3-duongke{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 45px;
    width: 40px;
    height: 2px;
    background-color: #00c566;
}
.content3 .c3-content{
}
.content3 .c3-content .vtf{
    z-index: 10000;
}
.content3 .c3-content img{
    padding: 15px;
}
.content3 input[name="button"]{
    border: none;
    font-family:Poppins;
    font-size: medium;
    color: #02d871;
    width: 200px;
    height: 50px;
    border: 1px solid #02d871;
    background-color: white;
    border-radius: 32px;
    cursor: pointer;
    outline: none;
    margin-top: 60px;
}
.content3 input[name="button"]:hover{
    color: #fff;
    background-color: #00c566;
}
/*end content3*/
/*start content4*/
.content4{
    height: 500px;
    margin: 20px;
    margin-top: 100px;
}
.content4 .col-6{
    padding: 0;
}
.content4 .c4-left{
    margin-left: -100px;
    position: relative;
}
.content4 .c4-left img[name="anhbia"]{
    width: 100%;
}
.content4 .c4-left img[name="anh1"]{
    position: absolute;
    top:40px;
    left: 120px;
}
.content4 .c4-left img[name="anh3"]{
    position: absolute;
    top:38px;
    left: 220px;
}
.content4 .c4-left img[name="anh4"]{
    position: absolute;
    top:37px;
    left: 340px;
}
.content4 .c4-left img[name="bcxanh1"]{
    position: absolute;
    top:180px;
    left: 100px;
}
.content4 .c4-left img[name="tamgiac1"]{
    position: absolute;
    top:150px;
    left: 225px;
}
.content4 .c4-left img[name="bcxanh2"]{
    position: absolute;
    top:180px;
    left: 100px;
    display: none;
}
.content4 .c4-left img[name="tamgiac2"]{
    position: absolute;
    top:150px;
    left: 340px;
    display: none;
}
.content4 .c4-left img[name="bcxanh3"]{
    position: absolute;
    top:180px;
    left: 100px;
    display: none;
}
.content4 .c4-left img[name="tamgiac3"]{
    position: absolute;
    top:150px;
    left: 120px;
    display: none;
}
.content4 .c4-right {
    margin-left: 90px;
}
.content4 .c4-right .c4-logo img{
    width: 30%;
}
.content4 .c4-right .c4-brands h6{
    font-size: 24px;
    font-family:"Poppins SemiBold";
    color: #bdbdbd;
    margin: 0;
    margin-top: 30px;
}
.content4 .c4-right .c4-duongke{
    margin-top: 20px;
    margin-bottom: 40px;
    width: 40px;
    height: 3px;
    background-color: #00c566;
}
/*end content4*/

/*start content5*/
.content5{
    height: 500px;
}
.content5 .c5-left{
    position: relative;
}
.content5 .c5-left h6{
    font-size: 24px;
    color: #bdbdbd;
    font-family: "Poppins SemiBold";
    margin: 0;
}
.content5 .c5-left .c5-duongke{
    width: 40px;
    height: 3px;
    background-color: #00c566;
    margin-top: 20px;
}
.content5 .c5-left p{
    font-size: 16px;
    color:#8c8c8c;
    font-family: Raleway;
    margin-top: 30px;
    max-width: 420px;
    line-height: 30px;
}
.content5 .c5-left .nut1,.nut2{
    margin-top: 60px;
    border: 2px solid #02d871;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
}.content5 .c5-nut i{
     background-color: #fff;
     color:#02d871;
 }
.content5 .c5-left .nut2{
    position: absolute;
    left: 60px;
    bottom:0;
}
.content5 .c5-left .nut1:hover,.nut2:hover{
    background-color: #02d871;
    cursor: pointer;
}
.content5 .c5-left .nut1:hover i,.nut2:hover i{
    background-color: #02d871;
    color:#fff;
}
.content5 .c5-left .c5-p{
    display: none;
}
.content5 .c5-left .active{
    display: block;
}
.c5-p {
    -webkit-animation-name: c5-p;
    -webkit-animation-duration: 2s;
    animation-name: c5-p;
    animation-duration: 2s;
}
@-webkit-keyframes c5-p {
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes c5-p {
    from {opacity: .4}
    to {opacity: 1}
}
.content5 .c5-right{
    max-width: 300px;
    float: left;
    margin-left: 25px;
}
.content5 .c5-right .c5-r2 p{
    font-size: 18px;
    font-family: Poppins;
}
.content5 .c5-right .c5-r4 p a{
    text-decoration: none;
    color:#000;
}
.content5 .c5-right .c5-r4 p a:hover{
    color:#00c566;
}
.content5 .c5-right .c5-r3 p{
    font-size: 15px;
    font-family: Raleway;
    color: #828282;
    max-width: 300px;
}
.content5 .c5-right .c5-r4 p{
    font-size: 17px;
}
.content5 .c5-right .c5-r2,.c5-r3,.c5-r4{
}
.content5 .c5-right img{
    width: 100%;
}
/*end content5*/

/*start content6*/

.content6{
    height: 350px;
    background-image: url("../images/maps_06.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    clear: both;
}
.content6 .c6-subc{
    text-align: center;
}
.content6 .c6-subc .c6-getlar{

}
.content6 .c6-subc .c6-getlar h6{
    padding-top: 90px;
    font-size: 36px;
    font-family: Raleway;
    font-weight: bold;
    margin: 0 auto;
    color:#fff;
    max-width: 600px;
}
.content6 .c6-sub input[name="button"]{
    border: none;
    width: 200px;
    font-family:Poppins;
    font-size: medium;
    height: 50px;
    border-radius: 32px;
    color:  #00c566;
    background-color: #fff;
    outline: none;
    text-align: center;
    margin-top: 40px;
}
.content6 .c6-sub input[name="button"]:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.footer{
    height: 400px;
    background-image: url("../images/bc-cuoi_08.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
}
.footer .fc-1 p{
    font-family: Raleway;
    font-size: 16px;
    color: #777777;
    padding-top: 140px;
}
.footer .fc-2 p{
    font-family: Raleway;
    font-size: 15px;
    color: #777777;
    text-transform: uppercase;
    margin-top: 30px;
}
.footer .fc-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    background-color: #eeeeee;
    display: inline-table;
    margin-top: 40px;
}
.footer .fc-3 i{
    font-size: 15px;
    color:#777777;
}
.footer .fc-icon:hover{
    cursor: pointer;
    background-color: #02d871;
}
/*end content6*/
/*-------------------------------------------------------------------------------------*/
/*--------------------------------another screen------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* min */
@media only screen and (min-width:0) and (max-width: 575px) {
    .header{
        background-position: top right; /*căn giữa cho ảnh nền*/
        height: auto;
        background-image: url("../images/anhbia1_01_02.png");
        background-size: cover;
    }
    .header-content .hc-right{
        margin-top: 10px;
    }
    .header .header-top{height: auto;}
    .header .header-top .col-x-6{
        float: none;
        padding: 10px;
    }
    .header .header-top .nav{
        margin-top: -40px;
    }
    .header .header-top .nav ul{
        padding-left: 0px;
    }
    .header .header-content .we-design h3{
         font-size: 35px;
     }
    .header .hc-left{
        /*text-align: center;*/
    }
    .header .header-content .our-work input[name="button"]{
        margin: 0 auto;
    }
    .header-content .hc-left input[name="button"]{
        width: 150px;
    }
    .content1{
        height: auto;
        /*background-image: none;*/
    }
    .content1 .c1-left{
        text-align: center;
    }
    .content1 .c1-left img{
        /*width: 90%;*/
        /*height: auto;*/
        /*margin-top: 20px;*/
        display: none;
    }
    .content1 .c1-right{
        margin-left: 0px;
        padding: 10px;
        height: auto;
        text-align: center;
    }
    .content1 .c1-right .c1r-tieude h3{
        margin-top: 0px;
        max-width: none;
        font-size: 32px;
    }
    .content1 .c1-right .c1r-giaithich p{
        max-width: none;
    }
    .content1 .c1-right .c1r-button input[name="button"]{
        width: 150px;
    }
    .content2{
        height: auto;
    }
    .content2 .col-4{
        margin-top: 0;
        padding: 0;
    }
    .content3{
        height: auto;

    }
    .content3 .c3-content img{
        width: 45%;
    }
    .content3 .c3-our-code{
        padding-top: 50px;
    }
    .content3 .c3-duongke{
        margin-bottom: 20px;
    }
    .content3 input[name="button"]{
        margin-top: 30px;
    }
    .content3 .c3-button{
        padding-bottom: 30px;
    }
    .content3 input[name="button"]{
        width: 150px;
    }
    .content4{
        height: auto;
        margin-bottom: 100px;
        margin-top: 30px;
    }
    .content4 .c4-right{
        /*margin: 0 auto;*/
        /*margin-top: 100px;*/
        display: none;
    }
    /*.content4 .c4-right .c4-duongke{*/
    /*margin-bottom: 10px;*/
    /*}*/
    .content4 .c4-left img[name="anh1"]{
        left: 20%;
    }
    .content4 .c4-left img[name="anh3"]{
        left: 40%;
    }
    .content4 .c4-left img[name="anh4"]{
        left: 65%;
    }
    .content4 .c4-left img[name="tamgiac3"]{
        left:22%;
     }
    .content4 .c4-left img[name="tamgiac1"]{
        left:40%;
    }
    .content4 .c4-left img[name="tamgiac2"]{
        left:65%;
    }
    .content4 .c4-left img[name="bcxanh3"]{
        left: 20%;
    }
    .content4 .c4-left img[name="bcxanh1"]{
        left: 20%;
    }
    .content4 .c4-left img[name="bcxanh2"]{
        left: 20%;
    }
    .content5 .c5-left{
        text-align: center;
    }
    .content5 .c5-left p{
        text-align: center;
        max-width: none;
    }
    .content5 .c5-duongke{
        margin: 0 auto;
    }
    .content5 .c5-left .c5-nut .nut1{
        position: absolute;
        margin: 0;
        left: 35%;
    }
    .content5 .c5-left .c5-nut .nut2{
        position: relative;
        margin: 0;
        left: 55%;
    }
    .content5 .c5-right{
        margin: 0;
        max-width: none;
        float: none;
    }
    .content5 .c5-right p{
        text-align: center;
    }
    .content5 .c5-right .c5-r3 p{
        max-width: none;
    }
    .content6{
        height: auto;
    }
    .content6 .c6-subc .c6-getlar h6{
        padding-top: 50px;
        font-size: 30px;
    }
    .content6 .c6-sub{
        padding-bottom: 20px;
    }
}
/* col-... */
@media only screen and (min-width:576px) and (max-width: 767px) {

    .header{
        background-position: top right; /*căn giữa cho ảnh nền*/
        height:auto;
        background-image: url("../images/anhbia1_01_02.png");
        background-size: cover;
    }
    .header .header-top{height: auto;}
    .header-content .hc-right{
        margin-top: 10px;
    }
    .header .header-top .col-x-6{
        float: none;
        padding: 10px;
    }
    .header .header-top .nav{
        margin-top: -40px;
    }
    .header .header-top .nav ul{
        padding-left: 0px;
    }
    .header .header-content .we-design{
        max-width: none;
    }
    .header .header-content .we-design h3{
        font-size: 35px;
    }
    .header .hc-left{
        /*text-align: center;*/
    }
    .content1{
        height: auto;
        /*background-image: none;*/
    }
    .content1 .c1-left{
        text-align: center;
    }
    .content1 .c1-left img{
        /*width: 90%;*/
        /*height: auto;*/
        /*margin-top: 20px;*/
        display: none;
    }
    .content1 .c1-right{
        margin-left: 0px;
        padding: 10px;
        height: auto;
        text-align: center;
    }
    .content1 .c1-right .c1r-tieude h3{
        margin-top: 0px;
        max-width: none;
    }
    .content1 .c1-right .c1r-giaithich p{
        max-width: none;
    }
    .content2{
        height: auto;
    }
    .content2 .col-4{
        margin-top: 0;
        padding: 0;
    }
    .content3{
        height: auto;

    }
    .content3 .c3-content img{
        width: 45%;
    }
    .content3 .c3-our-code{
        padding-top: 50px;
    }
    .content3 .c3-duongke{
        margin-bottom: 20px;
    }
    .content3 input[name="button"]{
        margin-top: 30px;
    }
    .content3 .c3-button{
        padding-bottom: 30px;
    }
    .content4{
        height: auto;
        margin-bottom: 50px;
        margin-top: 30px;
    }
    .content4 .c4-right{
        /*margin: 0 auto;*/
        /*margin-top: 100px;*/
        display: none;
    }
    /*.content4 .c4-right .c4-duongke{*/
    /*margin-bottom: 10px;*/
    /*}*/
    .content4 .c4-left{
        margin-left: 0;
    }
    .content5 .c5-left{
        text-align: center;
    }
    .content5 .c5-left p{
        text-align: center;
        max-width: none;
    }
    .content5 .c5-duongke{
        margin: 0 auto;
    }
    .content5 .c5-left .c5-nut .nut1{
        position: absolute;
        margin: 0;
        left: 40%;
    }
    .content5 .c5-left .c5-nut .nut2{
        position: relative;
        margin: 0;
        left: 50%;
    }
    .content5 .c5-right{
        width: 45%;
        margin: 10px;
        max-width: none;
    }
    .content5 .c5-right p{
        text-align: center;
    }
    .content5 .c5-right .c5-r3 p{
        max-width: none;
    }
    .content6 .c6-getlar h6{
        padding-top: 50px;
    }
    .content6 .c6-subc .c6-getlar h6{
        font-size: 32px;
    }
}
/* col-s-... */
@media only screen and (min-width: 768px) and (max-width:991px) {
    .header{
        height: 700px;
    }
    .header-content .hc-right{
        margin-top: 10px;
    }
    /* .content1 .c1-left img[name="nguoingoi"]{
        width: 100%;
        height: auto;
    } */
    .header .header-top .nav{
        margin-top: -40px;
    }
    .header .header-top .nav ul{
        padding-left: 0px;
    }
    .content1 .c1-right .c1r-tieude h3{
        margin-top: 75px;
    }
    .content3{
        height: auto;
    }
    .content3 .c3-button{
        padding-bottom: 30px;
    }
    .content4 .c4-right .c4-logo img{
        width: 70px;
    }
    .content4{
        height: auto;
        margin-top: 80px;
        margin-bottom: 100px;
    }
    .content5{
        height: auto;
    }
    .content5 .c5-right{
        width: 50%;
        margin: 0;
    }
    .content5 .c5-right img{
        width: 90%;
    }
    .content5 .c5-right .c5-r3 p{
        max-width: 200px;
    }
    .content6 .c6-subc .c6-getlar h6{
        font-size: 34px;
    }

}
/* col-x-... */
@media only screen and (min-width: 992px) and (max-width:1199px) {
    .header{
        height: 800px;
    }
    .header-content .hc-right{
        margin-top: 10px;
    }
    .content1 .c1-left img[name="nguoingoi"]{
        width: 100%;
        height: auto;
    }
    .content3{
        height: 900px;
    }
    .content4 .c4-right .c4-logo img{
        width: 100px;
    }

    .content4{
        height: auto;
        margin-bottom: 100px;
    }
    .content5 .c5-right{
        width: 50%;
        margin: 0;
    }
    .content5 .c5-right img{
        width: 90%;
    }
    .content5 .c5-right .c5-r3 p{
        max-width: 200px;
    }
}